
<div class="recipe-cards">
  <%
    let heartclass = "";
    if (user) {
      
      if (user.favids.includes(recipe.id.toString())) {
        heartclass = "fa";
      } else  {
        heartclass = "fa-regular";
      };
    };   
    
  %>
  <img src="<%- recipe.image %>">
    <a href=<%= `/recipes/${recipe.id}` %>><span class="mini-card-title"><%= recipe.title %></span></a>
    
    <% if (user) { %>
      <i data-title="<%- recipe.title %>" data-image="<%- recipe.image %>" data-id="<%- recipe.id %>" class="fav-button <%= heartclass %> fa-heart" ></i>
    <% } %>
    
  </div>




 