
<div class="recipe-cards">
  <img src="<%- recipe.image %>">
    <a href=<%= `/recipes/${recipe.id}` %>><span class="title"><%= recipe.title %></span></a>
    
    
    <button class="submit-button fav-button" data-title="<%- recipe.title %>" data-image="<%- recipe.image %>" data-id="<%- recipe.id %>"> <i class="fa fa-heart"></i></button>
  </div>




 