<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
<div class="wrapper">
    <div class="content">
        <div class="card">
            <div class="card-top">
                <!-- <h2 class="title-top"><%= recipe.title %></h2> -->
                <img class="card-img" src="<%= recipe.image %>">
            </div>
            <div class="card-bottom">
                <p>
                    <span class="prefix">Title: </span> <span class="title"><%= recipe.title %></span>
                </p>
                <p>
                    <span class="prefix">Ready in: </span><%= recipe.readyInMinutes %> mins
                </p>
                <p>
                    <span class="prefix">Summary: </span><%= recipe.summary %>
                </p>    
                <p>
                    <span class="prefix">Instructions: </span><%= recipe.instructions %>
                </p>
                <p>  
                    <span class="prefix">Number of servings: </span><%= recipe.servings %>
                </p>
                <% if (recipe.vegetarian) { %>
                <p>        
                    <span class="prefix">Vegetarian </span>
                </p>
                <% } %>
                
                <!-- <p>
                    This the book Synopsis Part 2
                </p> -->
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') -%>